# ssh-based checks depend on the ssh service being OK
define servicedependency {
  hostgroup                      nagios_check_ssh
  service_description            ssh
  dependent_servicegroup_name    ssh
  execution_failure_criteria     c,u
  notification_failure_criteria  c,u
}

# dns checks depend on internet link being up
define servicedependency {
  host_name                      {{ inventory_hostname }}
  service_description            upstream-packet-loss
  dependent_servicegroup_name    dns
  execution_failure_criteria     c,u
  notification_failure_criteria  c,u
}
