define servicegroup {
  servicegroup_name  ssh
  alias              SSH-based checks
}

define servicegroup {
  servicegroup_name  snmp
  alias              SNMP-based checks
}

define servicegroup {
  servicegroup_name  https
  alias              HTTPS-based checks
}

define servicegroup {
  servicegroup_name  dns
  alias              DNS-based checks
}
