# GDM configuration storage

[daemon]
InitialSetupEnable=false
# Uncomment the line below to force the login screen to use Xorg
WaylandEnable={{ linux_desktop_enable_wayland | bool | to_json }}

[security]

[xdmcp]

[chooser]

[debug]
# Uncomment the line below to turn on debugging
#Enable=true
