[Autoconfig]
Revision=1

[Data Source]
DisplayName={{ evolution_dav_account_name }}
Enabled=true
Parent=webdav-stub

[Security]
Method=tls

[Authentication]
Host={{ evolution_dav_host }}
Method=GSSAPI
Port=443
ProxyUid=system-proxy
RememberPassword=true
User=${USER}
CredentialName=
IsExternal=false

[Autocomplete]
IncludeMe=true

[Offline]
StaySynchronized=true

[WebDAV Backend]
AvoidIfmatch=false
CalendarAutoSchedule=false
DisplayName={{ evolution_dav_account_name }}
EmailAddress=
ResourcePath=/addressbooks/${USER}/personal/
ResourceQuery=
SslTrust=

[Contacts Backend]
IncludeMe=true

[Address Book]
BackendName=webdav
