module.exports = {
  'domain' : '{{ gathio_domain }}' ,
  'port': '{{ gathio_port }}',
  'email': '{{ gathio_from_address }}',
  'mailService': 'nodemailer',
  'sitename': 'gathio',
  'isFederated': false,
  'logo_url': '',
  'showKofi': false,
};
