[Unit]
Description=Invidious youtube client
After=network.target
AssertPathExists={{ invidious_install_dir }}

[Service]
Type=simple
ExecStart={{ invidious_install_dir }}/invidious
User={{ invidious_user }}
Group={{ invidious_user }}
WorkingDirectory={{ invidious_install_dir }}
Restart=always

# See https://www.freedesktop.org/software/systemd/man/systemd.exec.html
# for details
DevicePolicy=closed
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectControlGroups=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=yes
RestrictRealtime=yes
SystemCallFilter=~@clock @debug @module @mount @obsolete @privileged @reboot @setuid @swap

ProtectSystem=full
ProtectHome=true

[Install]
WantedBy=multi-user.target
