[org/gnome/desktop/thumbnail-cache]
maximum-size={{ linux_desktop_thumbnail_cache_size }}

[org/gnome/nautilus/preferences]
recursive-search='always'
show-directory-item-counts='always'
show-image-thumbnails='always'

[org/gnome/nautilus/list-view]
use-tree-view=true
