[greeter]
background = {{ linux_desktop_lightdm_background }}
theme-name = {{ linux_desktop_lightdm_gtk_theme }}
icon-theme-name = {{ linux_desktop_lightdm_icon_theme }}
cursor-theme-name = {{ linux_desktop_lightdm_cursor_theme }}
cursor-theme-size = 16
font-name = {{ linux_desktop_lightdm_font_name }}
xft-rgba = rgb
xft-hintstyle = hintfull
hide-user-image = true
