compatibility_level = 2

myorigin = {{ proxmox_mail_origin }}

# disable local delivery
biff = no
mydestination =

inet_interfaces = loopback-only
inet_protocols = all
mynetworks_style = host

relayhost = {{ proxmox_relayhost }}

alias_database = hash:/etc/aliases

smtputf8_enable = yes

smtp_tls_security_level = may
